body{
    background-color: rgb(2, 39, 27);
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
}

input{
    padding: 5px 10px ;
}

.submit{
    padding: 5px 25px ;
}

 .reset{
    color: brown;
    padding: 5px 25px ;
}

.pas_mess{
    color: darkred;
    font-weight: 400;
}

.con_pas_mess{
    color: green;
    font-weight: 400;
}
